

<!-- Page Content -->
<div class="container">
 
  <div class="row" style="margin: 100px 0px 50px 0px;">
    <div class="col-md-12 center">
      <div class="well">
        <div><%= image_tag "logo-lrg.png", :class => "logo" %></div>
      </div>
    </div>
  </div>
  
  <div class="row" style="clear:both">
    <% @array.each do |product| %>

      <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail"><%= image_tag product.images.first.image_file %> 
          <div class="caption">
            <h5 class="pull-right"><%= product.price %></h5>
            <h5><a href='/products/<%= product.id %>'><%= product.name.upcase %></a>
            </h5>
            <p> <%= product.description.capitalize %></p>
          </div>
        </div>

      </div>               
    <% end %>
  </div>


<div class="container">

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>

</div>
