<div class="container">
  <%= image_tag @product.image %> 
  <h1>Product <%= @product.name.upcase %></h1>
  <h3>Price <%= number_to_currency@product.price %></h3> 
  <h3>Tax <%= number_to_currency@product.tax %></h3> 
  <h3>Total <%= number_to_currency@product.total %></h3> 
  <h3><%= @product.sale_message %></h3>   

  <% if @product.in_stock? %>
    <p>Quantity in stock <%= @product.stock_quantity %></p>
  <% else %>
    <p style="color:red">Out Of Stock!!</p>
  <% end %>

  <h3><%= @product.description.capitalize %></h3>
  <div>
    <a href='/products/<%= @product.id %>/edit'>Edit this product</a>
  </div>
  <div>
    <%= link_to "Destroy this Product", "/products/#{@product.id}", method: :delete %>
  </div>
  <div>
    <a href='/products'>Back to main page</a>
  </div>


</div>