<!DOCTYPE html>
<html>
<head>
  <title>MiniCapstonePg</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="main">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort Orders<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/products?sort=category">Sort by category</a></li>
              <li><a href="/products?sort=name">Sort by name</a></li>            
              <li><a href="/products?sort=price">Sort by price, low to high</a></li>
              <li><a href="/products?sort=price&order=desc">Sort by price, high to low</a></li>
            </ul>
          </li>
        </ul>
        <div class="navbar-left" style="margin-top:12px">
          <%= form_tag "/search", method: :post do %>
            <%= label_tag :search %>
            <%= text_field_tag :search %>
            <%= submit_tag "Search" %>
          <% end %>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li><a href="#">Welcome <%= current_user.name %></a></li>
            <li><a href="/logout">Logout</a></li>  
          <% else %>
            <li><a href="/signup">Sign Up</a></li>        
            <li><a href="/login">Login</a></li>        
          <% end %>
          <li><a href="/products?discount=true">Discounted</a></li>
          <li><a href="/products/random">Random</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="container">

    <div style="margin-top:20px">
      <% flash.each do |name, message| %>
      <div class="alert alert-warning alert-dismissible fade in" role="alert" style="margin-top: 100px">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" >
          <span aria-hidden="true">&times;</span>
        </button>
        <strong><%= message %></strong>
      </div>
      <% end %>

      <%= yield %>
    </div>
  </div>
</body>
</html>
